<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Cinema</title>
    <link rel="stylesheet" href="{% static 'css/menu_style.css' %}" />
    <link rel="stylesheet" href="{% static 'online_cinema/css/style.css' %}">
</head>
<body>
<h1>Список фильмов</h1>
<div class="main">
    <div class="film">
        <div class="left-block">
            <img src="{% static 'images/movie.png' %}" alt="">
        </div>

        <div class="right-block">
            <h2>
                Вселенная Стивена Хокинга 2014 года.
            </h2>
            <p>
В электронном письме режиссеру фильма Джеймсу Маршу Стивен Хокинг написал, что, когда он смотрел на исполнение Эдди Редмэйн в фильме, были определенные моменты, когда  ученому казалось, будто он наблюдает за самим собой.
В дополнение к своему голосу, защищенному авторским правом, Стивен Хокинг также одолжил создателям фильма свою медаль почетного компаньона и свою диссертацию, которые были использованы на съемках в качестве подлинного реквизита.
            </p>
             <a href="https://www.kinoafisha.info/movies/8165599/">Watch Trailer</a>
    <a href="https://yandex.ru/video/preview/15278940194346654912">Start Watching</a>
        </div>
    </div>

    <div class="film">
        <div class="left-block">
            <img src="{% static 'images/movie1.png' %}" alt="">
        </div>

        <div class="right-block">
            <h2>
               Зеленная миля 1999 года.
            </h2>
            <p>
Оценка
Мой любимый фильм!
Актерский состав и игра и вообще все в фильме, сюжет, да все в общем....
7 октября 2020, 17:52
Тарас Филинцев
Один из лучших фильмов 2000, всем советую к просмотру. Актёр Майкл Дункан сыграл просто шедеврально. Прям видно было, что он прожил историю через себя.
4 ноября 2020, 14:19

            </p>
            <a href="https://www.kinoafisha.info/trailers/59a222a865bdb2e2b1e06d0b376debb8/">Watch Trailer</a>
    <a href="https://yandex.ru/video/preview/10686917430869729574">Start Watching</a>
        </div>
    </div>
</div>



</body>
</html>